<!-- Newsletter section -->
<section class="newsletter-section">
    <div class="container">
        <h2>Subscribe to our newsletter</h2>
        <form class="newsletter-form">
            <input type="text" placeholder="ENTER YOUR E-MAIL">
            <button class="site-btn">subscribe <img src="libraries/img/icons/double-arrow.png" alt="#" /></button>
        </form>
    </div>
</section>
<!-- Newsletter section end -->


<!-- Footer section -->
<footer class="footer-section">
    <div class="container">
        <div class="footer-left-pic">
            <img src="libraries/img/footer-left-pic.png" alt="">
        </div>
        <div class="footer-right-pic">
            <img src="libraries/img/footer-right-pic.png" alt="">
        </div>
        <a href="#" class="footer-logo">
            <img src="libraries/img/logo.png" alt="">
        </a>
        <ul class="main-menu footer-menu">
            <li><a href="">Home</a></li>
            <li><a href="">Games</a></li>
            <li><a href="">Reviews</a></li>
            <li><a href="">News</a></li>
            <li><a href="">Contact</a></li>
        </ul>
        <div class="footer-social d-flex justify-content-center">
            <a href="#"><i class="fa fa-pinterest"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-behance"></i></a>
        </div>
        <div class="copyright"><a href="">Colorlib</a> 2018 @ All rights reserved</div>
    </div>
</footer>
<!-- Footer section end -->


<!--====== Javascripts & Jquery ======-->
<script src="libraries/js/jquery-3.2.1.min.js"></script>
<script src="libraries/js/bootstrap.min.js"></script>
<script src="libraries/js/jquery.slicknav.min.js"></script>
<script src="libraries/js/owl.carousel.min.js"></script>
<script src="libraries/js/jquery.sticky-sidebar.min.js"></script>
<script src="libraries/js/jquery.magnific-popup.min.js"></script>
<script src="libraries/js/main.js"></script>
<script src="resources/js/animations.js"></script>
<script src="resources/js/general.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<% for(i in scripts){ %>
    <script src="resources/js/<%= scripts[i] %>.js"></script>
<% } %>

</body>

</html>